.about__left {
    float: left;
    width: 40%;
    text-align: center;
}

.about__pic {
    display: inline-block;
    border: 5px solid #fff;
    overflow: hidden;
    border-radius: 50%;
}

.about__pic-item {
    max-width: 220px;
    max-height: 220px;
    display: block;
}

.about__right {
    width: 56%;
    float: right;
}

.text-block {
    color: #646464;
    font-size: 18px;
    line-height: 1.444;
}

.about__text {
    height: 300px;
    overflow: auto;
    margin-bottom: 44px;
}

.text-block p {
    margin: 0 0 5px;
}

.about__download {
    text-align: right;
}

.about__download-link {
    padding: 14px 15px 13px 15px;
    border: 2px solid #e85f61;
    color: #e85f61;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    border-radius: 20px;
}

.about__download-link:hover {
    color: #fff;
    background: #e85f61;
}
