$red_color: #e85f61;
$about_text_color: #646464;
$white_color: #fff;

.about__left {
  float: left;
  width: 40%;
  text-align: center;
}

.about__pic {
  display: inline-block;
  border: 5px solid #fff;
  overflow: hidden;
  border-radius: 50%;
}

.about__pic-item {
  max-width: 220px;
  max-height: 220px;
  display: block;
}

.about__right {
  width: 56%;
  float: right;
}

.text-block {
  color: $about_text_color;
  font-size: 18px;
  /*line-height: 26px;*/
  line-height: 1.444;
}

.about__text {
  height: 300px;
  overflow: auto;
  margin-bottom: 44px;
}

.text-block {
  p {
    //margin: 0 0 5px; /*Why?*/
  }
}

.about__download {
  text-align: right;
}

.about__download-link {
  /*padding: 9px 12px;*/
  padding: 14px 15px 13px 15px;
  border: 2px solid $red_color;
  color: $red_color;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  border-radius: 40px;
  /*font-family: 'fira_sansbold';*/

  &:hover {
    color: $white_color;
    background: $red_color;
    transition: .2s;
  }
}

/*.about__download-link-icon {*/
/*margin-right: 5px;*/
/*}*/