.base-info {
  width: 73%;
  float: right;
}

.content-title {
  font-family: 'FiraSans-Medium';
  font-size: 35px;
  color: #414141;
  line-height: 1.286;
  margin-bottom: 15px;
  font-weight: normal;
}