.footer {
  background: $footer_background_color;
  text-align: center;
}

.copyright {
  font-size: 14px;
  font-family: 'FiraSans-Light';
  line-height: 2.857;
  color: $copyright_color;
  top: 18px;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}

.footer__left, .footer__right {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.footer__left {
  text-align: left;
}

.footer__right {
  text-align: right;
}

.socials {
  //font-size: 14px;
  //height: 100%;
  vertical-align: middle;
  display: inline-block;
}

.socials__list {
  display: inline-block;
}

.socials__link {
  width: 31px;
  height: 30px;
  display: block;
}

@each $item in (fb, vk, tw) {
  .socials_#{$item} {
    background: url('../img/icons/#{$item}.png') 0 0 no-repeat;
    &:hover {
      background: url('../img/icons/#{$item}-active.png') 0 0 no-repeat;
    }
  }
}

.socials__link-image {
  filter: grayscale(100%);
  &:hover {
    filter: none;
  }
}

.socials__item {
  display: inline-block;
  margin-left: 5px;

  &:first-child {
    margin-left: 0;
  }
}