.header {
  background-color: $header_background;
  margin-bottom: 25px;
  text-align: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.vam:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.header__left, .header__right {
  width: 50%;
  //float: left;
  display: inline-block;
  vertical-align: middle;
}

.header__right:before {
  content: "";
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.header__right {
  text-align: right;
}

.header__left {
  text-align: left;
}

.user {
  font-size: 18px;
}

.user__avatar {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 50%;
}

.user__name {
  display: inline-block;
  vertical-align: middle;
  font-family: 'FiraSans-Regular';
  overflow-wrap: break-word;
  max-width: 80%;
}

.user__avatar + .user__name {
  margin-left: 20px;
}

.user__avatar-image {
  display: block; //TODO: Why?
}

.contacts {
  vertical-align: middle;
  font-family: 'FiraSans-Bold';
  display: inline-block;
  position: relative;

  &:hover {
    color: $red_color;
    border-color: $red_color;
    .contacts__dropdown {
      display: block;
    }
  }
}

.contacts__trigger {
  text-decoration: none;
  border-bottom: 1px dashed $blue_color;
  font-size: 18px;
  line-height: 1.556;
  color: $blue_color;

  &:hover {
    color: $red_color;
    border-color: $red_color;
  }
}

.contacts__trigger-icon {
  display: none;
}

.contacts__dropdown {
  padding: 15px 20px;
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 30%;
  transform: translateX(-50%);
  z-index: 10;
  margin-top: 12px;
  display: none;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 30px;
    top: -28px;
  }
}

.contacts__dropdown-triangle {
  position: absolute;
  top: -10px;
  left: 60%;
  transform: translateX(-50%);
  height: 10px;
  width: 20px;

  &:after, &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-width: 0px;
    top: 0px;
    position: absolute;
    left: 0;
    transform: translate(-50%);
  }

  &:before {
    border-bottom-color: #dedede;

  }

  &:after {
    border-bottom-color: #fff;
    margin-top: 1px;
  }
}

.contacts__dropdown-link {
  white-space: nowrap;
  font-size: 18px;
  font-family: "FiraSans-Light";
  color: #414141;
  text-decoration: none;
  text-align: left;
  display: block;
}


.contacts__dropdown-icon {
  color: #33c1e3;
  margin-right: 15px;
}

.contacts__dropdown-item {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}