.header {
  background-color: $header_background;
  margin-bottom: 25px;
  text-align: center;
}

.vam:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.header__left, .header__right {
  width: 50%;
  //float: left;
  display: inline-block;
  vertical-align: middle;
}

.header__right:before {
  content: "";
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.header__right {
  text-align: right;
}

.header__left {
  text-align: left;
}

.user {
  font-size: 18px;
}

.user__avatar {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 50%;
}

.user__name {
  display: inline-block;
  vertical-align: middle;
  font-family: 'FiraSans-Regular';
}

.user__avatar + .user__name {
  margin-left: 20px;
}

.user__avatar-image {
  display: block; //TODO: Why?
}

.contacts {
  vertical-align: middle;
  font-family: 'FiraSans-Bold';
  //display: inline-block;
}

.contacts__trigger {
  text-decoration: none;
  border-bottom: 1px dashed $blue_color;
  font-size: 18px;
  /*line-height: 28px;*/
  line-height: 1.556;
  color: $blue_color;
}

