$blue_color: #32c3e3;
$footer_background_color: #414141;

.sidebar {
  width: 23%;
  float: left;
}

.nav__item {
  //padding: 10px 25px 10px 0;
  //border-right: 6px solid $blue_color;
}

.nav__list {
  text-align: right;
}

.nav__link {
  display: block;
  padding: 10px 25px 10px 0;
  color: $footer_background_color;
  text-decoration: none;
  border-right: 6px solid transparent;
  font-size: 18px;
  font-family: 'FiraSans-Regular';

  &:hover {
    color: $blue_color;
    transition: .2s;
  }

  &:active {
    color: $blue_color;
    border-color: $blue_color;
  }
}

.nav__item_active {
  .nav__link {
    color: $blue_color;
    border-color: $blue_color;
  }
}